@(words : Words)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>On the Job</title>
</head>
<body>
<h1>My First Day at the @words.getPlace1() </h1> <img src="assets/images/@words.getPlace1Image()" height="100">
<p>
    The first day on the job was kind of @words.getAdjective1() <img src="assets/images/@words.getAdjective1Image()" height="100">. As soon as I got there I tripped on a
    @words.getNoun1() <img src="assets/images/@words.getNoun1Image" height="100">. Soon after I got stuck in the
    @words.getNoun2() <img src="assets/images/@words.getNoun2Image" height="100"> .
    By the time someone @words.getVerbPastTense1() <img src="assets/images/@words.getVerbPastTense1Image" height="100">
    me it was time to return to the @words.getPlace1() <img src="assets/images/@words.getPlace1Image" height="100"> .
</p>
</body>
</html>